# 4주차 스터디 과제

**Made by 35기 코딩부장 류제현**

In [24]:
import numpy as np
import pandas as pd

## From Data Preprocessing to Machine Learning

처음부터 끝까지 해봅시다

문제 많아 보이지만, 대부분 한두줄 짜리라 많지는 않습니다!! 화이팅

    연습문제 1

아래의 지시대로 연습문제를 진행하시면 됩니다

In [13]:
# 사용할 데이터셋을 불러오겠습니다 -> 팽귄 데이터셋을 사용합니다
## Colab을 사용하신다면 적절한 경로를 지정해주세요
peng_df = pd.read_csv("Data/penguins.csv", index_col=0)
peng_df

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,39.1,18.7,181.0,3750.0,Male
1,Adelie,39.5,17.4,186.0,3800.0,Female
2,Adelie,40.3,18.0,195.0,3250.0,Female
3,Adelie,NaN,NaN,NaN,NaN,NaN
4,Adelie,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...
339,Gentoo,NaN,NaN,NaN,NaN,NaN
340,Gentoo,46.8,14.3,215.0,4850.0,Female
341,Gentoo,50.4,15.7,222.0,5750.0,Male
342,Gentoo,45.2,14.8,212.0,5200.0,Female
343,Gentoo,49.9,16.1,213.0,5400.0,Male

In [14]:
# 결측값의 수를 확인해봅시다
peng_df.isna().sum()

species               0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

    문제 1-1

**bill_length_mm / bill_depth_mm / flipper_length_mm / body_mass_g 컬럼에 결측값(NaN)이 존재합니다**

**각 컬럼의 평균값을 구해 NaN 값에 넣고(fillna), 변수로 저장해줍시다**

* 주의! 성별(sex)의 평균은 아무런 의미를 가지지 않기 때문에(숫자가 아니라서) 내버려 두어야 합니다!!

In [26]:
# 연습문제 1-1 코드

mean = peng_df.mean()
peng_df_fill = peng_df.fillna(mean)
# 굉장히 간단한 코드이지만, 생각보다 Pandas는 똑똑해서 알아서 컬럼에 맞춰서 값을 넣습니다

peng_df_fill

C:\Users\user\AppData\Local\Temp\ipykernel_19716\340904991.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean = peng_df.mean()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,39.1,18.7,181.0,3750.0,Male
1,Adelie,39.5,17.4,186.0,3800.0,Female
2,Adelie,40.3,18.0,195.0,3250.0,Female
3,Adelie,36.7,19.3,193.0,3450.0,Female
4,Adelie,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,Female
329,Gentoo,46.8,14.3,215.0,4850.0,Female
330,Gentoo,50.4,15.7,222.0,5750.0,Male
331,Gentoo,45.2,14.8,212.0,5200.0,Female
332,Gentoo,49.9,16.1,213.0,5400.0,Male

    문제 1-2

**문제 1-1에서 결측값(NaN)에 fillna를 해주었지만, 성별(sex)컬럼에 존재하는 NaN 값에는 아무런 처리를 하지 않았습니다**

**이들에 NaN값이 있다면, 해당 팽귄을 제외한 데이터프레임을 만들어줍시다**  (dropna)

**이후, reset_index도 한번 해줍시다!**

In [25]:
# 연습 1-2번 코드
peng_df_fill.dropna(inplace=True)

# dropna를 해서 인덱스가 중간중간 비기 때문에(EX, 3번째 데이터가 dropna로 떨어져 나갔기 때문에, 인덱스가 0 1 2 4 이런식으로 된다) reset_index를 해준다
## 왜 drop=True를 해주는 지는, drop=True를 빼고 reset_index를 해보면 알 수 있다
peng_df_fill.reset_index(drop=True, inplace=True)

peng_df_fill

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,39.1,18.7,181.0,3750.0,Male
1,Adelie,39.5,17.4,186.0,3800.0,Female
2,Adelie,40.3,18.0,195.0,3250.0,Female
3,Adelie,36.7,19.3,193.0,3450.0,Female
4,Adelie,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,Female
329,Gentoo,46.8,14.3,215.0,4850.0,Female
330,Gentoo,50.4,15.7,222.0,5750.0,Male
331,Gentoo,45.2,14.8,212.0,5200.0,Female
332,Gentoo,49.9,16.1,213.0,5400.0,Male

    문제 1-3

**우리의 목표는 팽귄의 정보가 주어졌을 때, 팽귄의 종(speies)를 맞추는 것 입니다**

**species 컬럼을 정답(Label, y), 나머지를 피쳐(Feature, X)로 분리해 줍시다**

In [28]:
# 연습 1-3) 코드
X = peng_df_fill[["bill_length_mm","bill_depth_mm","flipper_length_mm","body_mass_g","sex"]]
y = peng_df_fill[["species"]]

## iloc으로 가져오는게 더 편할수도 있겠네요~

    문제 1-4

싸이킷런의 train_test_split함수를 사용해 Train 데이터와 Test 데이터를 분리해 줍시다

In [29]:
# 연습 1-4) 코드
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

    문제 1-5

**X_train과, X_test에서 성별(sex) 컬럼만 따로 분리해서 저장합시다**

**성별(sex)를 제외한 나머지 컬럼도 따로 저장해주세요**

**나중에 두 컬럼 합칠겁니다~ -> 그럼 왜 분리하나? 성별은 범주형(카테고리컬)이고, 나머지는 수치형(Numeric)이라서...**

In [34]:
# 문제 1-5) 코드

# 성별 저장
X_train_sex = X_train[["sex"]]
X_test_sex = X_test[["sex"]]

# 성별 제외 나머지 저장
X_train_numeric = X_train[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']]
X_test_numeric = X_test[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']]

    문제 1-6

싸이킷런의 MinMaxScaler를 사용해서 성별(sex) 컬럼을 제외한

나머지 컬럼( 부리 길이, 부리 두께, 지느러미 길이, 몸무게 특성)을 Minmax scaling 해줍시다


* 주의! train 데이터에는 fit과 transform을 해주지만, test 데이터에는 transform만 해줘야 합니다!!

* 주의! Label(정답지)는 그냥 놔둬야겠죠? 너무나 당연

그냥 참고: MinMax 공식: $\quad$      $X_{scaled} =$ $X - X_{min} \over {X_{max} - X_{min}}$

In [35]:
# 연습 1-6) 코드
from sklearn.preprocessing import MinMaxScaler

# 모델을 만듭니다
minmax = MinMaxScaler()

# train-data
X_train_minmax = minmax.fit_transform(X_train_numeric)

# test-data
X_test_minmax = minmax.transform(X_test_numeric)

    문제 1-7

성별 컬럼은 더미변수로 만들어줍시다

pd.get_dummies

Train이랑 Test 둘 다 변환하는거 잊지 맙시다

In [46]:
# 문제 1-7 코드
X_train_dummy = pd.get_dummies(X_train_sex)
X_test_dummy = pd.get_dummies(X_test_sex)

    문제 1-8

1-6에서 Minmax로 변환해준 수치형(Numeric) 컬럼과,

1-7에서 더미변수로 변환한 컬럼 데이터 프레임을 합쳐줍시다

Train,Test 데이터 둘 다 합쳐줍시다!


* 주의) 싸이킷런 MinMaxScaler로 데이터를 transform해주면, 데이터프레임이 아닌 넘파이 어레이 형태로 데이터를 반환합니다

* 따라서 pd.get_dummies()로 변환한 데이터에 .values를 붙여서 이것도 넘파이 어레이로 변환해서 둘을 합쳐야 합니다

* 합칠때는 np.c_[X_train_minmax, X_train_dummy.values] -> 이렇게 해주면 되겠죠?

In [48]:
# 문제 1-8 코드
X_train_pp = np.c_[X_train_minmax, X_train_dummy.values]
X_test_pp = np.c_[X_test_minmax, X_test_dummy.values]

    문제 1-9

1-8에서 합친 데이터를 가지고, 머신러닝 알고리즘을 학습시켜 봅시다

간단한 모형인 Support Vector Machine을 만들어 봅시다 -> 지금까지 배운거랑 똑같이 모델 만들고, fit해주면 됩니다

SVC 뜻 : Support Vector Classifier

In [51]:
from sklearn.svm import SVC

# 문제 1-9 코드
svc = SVC()
svc.fit(X_train_pp, y_train.values)

c:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

    문제 1-10

위에서 학습한 모델의 train-data에 대한 score (정확도)를 출력해봅시다

* 주의) score를 출력할 때도, 위에서 학습시킬때 사용한 전처리가 완료된 데이터를 줘야합니다!!

In [53]:
# 문제 1-10 코드
svc.score(X_train_pp, y_train)

0.9879518072289156

    문제 1-11

모델의 test-set에 대한 score(정확도)를 출력해봅시다

In [54]:
# 문제 1-11 코드
svc.score(X_test_pp, y_test)

0.9880952380952381

    머신러닝 처음부터 끝까지 만들어 보셨습니다 고생하셨습니다!! 2~3주 정도 후 수업부터는 Financial Machine Learning도 배울 예정입니다~!